.index--content-wrapper {
  display: flex;
  flex-direction: column;
}

.index--navigation-container {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 35%;
  padding-right: 35%;
  justify-content: space-between;
}

.index--navigation-container a{
  text-decoration: none;
  color:var(--font-color);
  font-size: 0.9rem;
  display: block;
  position: relative;
  padding: 0.1em 0;
}

.index--navigation-container a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--font-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.index--navigation-container a:hover::after,
.index--navigation-container a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}

.index--navigation-container a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.index--navigation-container a:hover::after,
.index--navigation-container a:focus::after {
  transform: scale(1);
}

.index--slogan-container {
  align-self: center;
  margin-top: 40px;
  width: 60%;
  height: 220px;
}

.index--slogan-container img {
  width: 100%;
  height: auto;  
  object-fit: contain;
  display: block;
}

.index--video-container {
  align-self: center;
  margin-top: 10px;
  width: 90%;
  height: auto;
}

.index--video-container video{
  width: 100%;
}
.index--connect-button {
  align-self: center;
  margin-top: 70px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}

.index--connect-button a {
  text-decoration: none;
  color: white;
}

.index--connect-button:hover {
  background-color:cadetblue;
  transition: all 300ms
}