<div class="footer-container">
  <div class="footer-links-container">
    <div>
      <a href="/about-us"><%= t("about") %></a>
    </div>
    <div>
      <a href="/newsletter"><%= t("newsletter") %></a>
    </div>
    <div>
      <a href="/musicians"><%= t("musicians") %></a>
    </div>
  </div>

  <div class="footer-contacts-container">
    <div class="subcontainer">
      <img src="/img/footer/email.jpg">
      <div>noteworthy@outlook.com</div>
    </div>
    <div class="subcontainer">
      <img src="/img/footer/tel.jpg">
      <div>+1 xxx-xxx-xxxx</div>
    </div>
    <div class="subcontainer">
      <img src="/img/footer/wechat.jpg">
      <div>wxid_xxxxxxxxx</div>
    </div>
  </div>
  <div class="footer-bot-container">
    <div>版权</div>
    <div>隐私政策</div>
    <div>使用条款</div>
  </div>
</div>