<div class="header-container">
  <div class="header--logo-container">
    <a href="/">
      <img src="/img/logo.png" height="28">
    </a>
  </div>
  <div class="header--logo-text-container">
    <a href="/">
      <img src="/img/logo_text.png" height="28">
    </a>
  </div>
</div>