<div class="header-container">
  <div class="header--logo-container">
    <a href="/">
      <img src="/img/logo_black.png" height="38">
    </a>
  </div>
  <div class="header--logo-text-container">
    <a href="/">
      <img src="/img/logo_text_black.png" height="38">
    </a>
  </div>
</div>