<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noteworthy Connection</title>

  <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
  <%- include('../partials/header')  %>
  <% if(typeof navigation !== 'undefined' && navigation !== null) { %>
      <ul class="navbar">
        <% for(let name in navigation) { %>
          <li>
            <a href="<%= navigation[name] %>"><%= name %></a>
            <% if (Object.keys(navigation)[Object.keys(navigation).length - 1] !== name) {%>
              <span>&rArr;</span>
            <% } %>
          </li>
        <% } %>
      </ul>
  <% } %>
  <%- body %>
</body>
</html>