<div class="index--content-wrapper">
  <div class="index--navigation-container">
    <div>
      <a href="/about-us">ABOUT</a>
    </div>
    <div>
      <a href="/newsletter">Newsletter</a>
    </div>
    <div>
      <a href="/musicians">Musicians</a>
    </div>
  </div>
  
  <!-- <div class="index--slogan-container">
    <img src="/img/v1_background.jpg" height="220">
  </div> -->
  <div class="index--video-container">
    <video id="indexVideo" muted>
      <source src="/video/main.mp4" type="video/mp4">
    </video>
  </div>
  
  <div class="index--connect-button">
    <a href="/connect">CONNECT!</a>
  </div>  
</div>

<div>
  <ul>
    <% categories.forEach(category => { %>
      <li><a href="/category/<%= category.cid %>"><%= category.name %></a></li>
    <% }) %>
  </ul>
</div>

<script src="/javascripts/indexVideo.js"></script>
