<h2><%= category.name %></h2>

<div>
  <ul>
    <% musicians.forEach(musician => { %>
      <li>
        <a href='/musicians/<%= musician.mid %>'><%= musician['name_' + lang] %></a>
      </li>
    <% }) %>
  </ul>
</div>