<h2 class="musicians-title"><%= t("discoverMusicians") %></h2>

<%- include('../partials/musicians-cards')  %>

<div>categories</div>
<ul>
  <% categories.forEach(category => { %>
    <li>
      <a href="/category/<%= category.cid %>"><%= category['name_' + lang] %></a>
    </li>
    <% })%>
</ul>
