<h1><%= musician.name %></h1>
<div>
  <div>Categories</div>
  <ul>
    <% categories.forEach(category => { %>
      <li><a href="/category/<%= category.cid %>"><%= category.name %></a></li>
    <% }) %>
    </ul>
  </diV>

  <div><a href="/connect?p=<%= musician.name %>">CONNECT!</a></div>