@import 'v1/header.css';
@import 'v1/index.css';
@import 'v1/font.css';
@import 'v1/_media_index.css';
@import 'v1/variables.css';

body {
  font-family: "Gill Sans";
  background-color: var(--background-color);
}

.navbar, .musicianCategoryList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 5px;
}

.musicianCategoryList {
  margin: 0px;
  margin-bottom: 20px;
}

.musicianCategory {
  padding-top: 15px;
}

.navbar li, .musicianCategoryList li {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  padding: 6px 10px;
}


