@import 'shared/header.css';
@import 'shared/index.css';
@import 'shared/font.css';
@import 'shared/_media_index.css';
@import 'shared/variables.css';
@import 'shared/animation.css';
@import 'shared/categoryCarousel.css';
@import 'shared/aboutUs.css';
@import 'shared/musicians.css';
@import 'shared/musician.css';

body {
  font-family: "Gill Sans";
  background-color: var(--background-color);
  margin: 0px;
  /* width: 1263.33px; */
  overflow-x: auto;
}

.navbar, .musicianCategoryList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 5px;
}

.musicianCategoryList {
  margin: 0px;
  margin-bottom: 20px;
}

.musicianCategory {
  padding-top: 15px;
}

.navbar li, .musicianCategoryList li {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  padding: 6px 10px;
}


