<div>
  <div class="about-us--title-container">
    <img src="/img/about_us/title_background.png" alt="Background">
    <div class="about-us--title-en">ABOUT US</div>
    <div class="about-us--title-zh">关于我们</div>
  </div>

  <div class="about-us--content-container-1">
    <img src="/img/about_us/pic1.png" alt="picture" class="about-us--content-picture about-us--content-right-group">
    <div class="about-us--content-title about-us--content-left-group">
      诺维音乐社区
    </div>
    <div class="about-us--content-text about-us--content-left-group">
      诺维音乐社区Noteworthy成立于2023年，是北美留学生建立的的线上音乐定制平台。入驻在校音乐人来自世界顶尖音乐学院学生，包括伯克利音乐学院、茱莉亚音乐学院、伊斯曼音乐学院、中国传媒大学、以及星海音乐学院。
    </div>
    <img src="/img/about_us/--nw.png" alt="-------noteworthy" 
    class="about-us--content--nw about-us--content-left-group">
  </div>

  <div class="about-us--content-container-2">
    <img src="/img/about_us/pic2.png" alt="picture" class="about-us--content-picture about-us--content-left-group">
    <div class="about-us--content-title about-us--content-right-group">
      定制化音乐
    </div>
    <div class="about-us--content-text about-us--content-right-group">
      平台提供编曲师​​、混音师、歌手、乐手、唱作人、beatmaker等音乐人种类，流行、爵士、RNB等数十种音乐风格，入驻团队仍在扩大中。</br>平台提供完整音乐定制服务，如短视频彩铃、歌舞剧伴奏、微电影BGM、年会活动背景音、以及非商业用途私人音乐制作。
    </div>
    <img src="/img/about_us/--nw.png" alt="-------noteworthy" 
    class="about-us--content--nw about-us--content-right-group">
  </div>

  <div class="about-us--content-container-3">
    <img src="/img/about_us/pic3.png" alt="picture" class="about-us--content-picture about-us--content-right-group">
    <div class="about-us--content-title about-us--content-left-group">
      音乐人社群
    </div>
    <div class="about-us--content-text about-us--content-left-group">
      不管你是寻求音乐制作机会的在校音乐人还是有音乐定制需求的音乐爱好者
    </br>
    </br>
      你都能在这里找到：</br>
      志同道合的创作人伙伴 + 令人满意的定制音乐作品
    </div>
    <img src="/img/about_us/--nw.png" alt="-------noteworthy" 
    class="about-us--content--nw about-us--content-left-group">
  </div>
</div>