@keyframes beat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); } 
}

.index--category-icons-container:hover img {
  animation: beat 1s ease-in-out infinite; /* Adjusted duration for smoothness */
}
