.header-container a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 18px;
}

.header--logo-container {
  padding-right: 10px;
}

.header--logo-text-container{
  padding-right: 10px;
}